body {
  font-family: "Atma", Helvetica, sans-serif;
  font-size: 1.125rem;
}

input,
button,
textarea,
option,
select {
  font-family: inherit;
}

h1 {
  text-align: center;
  font-weight: 500;
  font-size: 2.75rem;
}
